.home-page-title{
    font-weight: bold;
    font-size: 19px;
    width: 100%;
    height: 10vh;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 25px;
    border-bottom: 5px solid #FFFFFF;
    padding-bottom: 10px;
}
.main-tweets-container{
    display: flex;
    flex-direction: column;

}
.tweets-main-block{
    background-color: #FFFFFF;
    /*margin-bottom: 5px;*/
    margin-top: 5px;

}
.tweets-block-user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
a{
    text-decoration: none;
    color: black;
}
.tweets-user-rating{
    margin-left: auto;
    margin-right: 50px;
}
.tweets-block-profile-image{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 22px;
}
.tweets-user-profile-picture{
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
.tweets-main-body{
    margin-left: 75px;
    
}
.tweets-main-body-desc{
    margin-bottom: 15px;
}
.tweets-main-body-media{
    max-width: 100%;
    max-height: 500px;
    border-radius: 20px;
}

.tweets-block-user-info p{
    font-size: 20px;
}

.tweets-main-body p{
    font-size: 20px;
}
.tweets-like-and-comments{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 200px;
    margin-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}
.tweets-like-and-number, .tweets-comment-and-number{
    display: flex;
    align-items: center;
    gap: 9px;
}