.profile-top-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  width: 100%;
  height: 43px;
  /*background-color: #FFFFFF;*/
  background-color: white;
}
.back-button-link {
  text-decoration: none;
  margin-left: 15px;
}
.profile-top-name {
  font-size: 16px;
  font-weight: bold;
}
.profile-top-number-of-tweets {
  font-size: 13px;
  font-weight: 300;
}
/* .profile-mid-cover-and-profile{
    position: relative;
} */
/* .mid-cover-pic-image{
    width: 100%;
    height: 230px;
    object-fit: cover;
} */

.username_follow {
  display: flex;
  flex-direction: row;
}

.mid-profile-pic-div {
  /* position: absolute; */
  /* top: 30%; */
  left: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-bottom: 50px;
}
.mid-profile-pic-image {
  width: 250px;
  height: 250px;
  border: 2px solid gray;
  border-radius: 100%;
  margin-top: 40px;
}
.profile-user-information {
  /* position: relative; */
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
}

.add-btn {
  margin-left: 10px;
}

.setting-and-edit-profile > a > button {
  background-color: blue;
  /* position: absolute; */
  font-size: 13px;
  /* border: 1px solid #0038FF; */
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  /* padding: 10px 25px; */
  height: 30px;
  width: 100px;
  margin-left: 10px;
}

.follow-and-unfollow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting-and-edit-profile > a {
  text-decoration: none;
}
/* .user-follower-following-settings {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 13px;
  right: 0;
  bottom: -20px;
} */
.number-of-follower {
  display: flex;
  align-items: right;
  justify-content: flex-end; /* Align to the right */
  flex-direction: row;
  gap: 15px;
  margin-left: -10px; /* Adjust margin-left to create space */
  margin-right: 20px; /* Additional margin for spacing */
}

.post-made-by-user {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.profile_username {
  /* margin-top: 10px; */
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
.setting-and-edit-profile button {
  background-color: #ffffff;
  font-size: 15px;
  border: 1px solid #0038ff;
  border-radius: 20px;
  color: #0038ff;
  cursor: pointer;
  padding: 10px 25px;
}
.setting-and-edit-profile > button > a {
  color: #0038ff;
  text-decoration: none;
}

.home-page-title {
  font-weight: bold;
  font-size: 19px;
  width: 100%;
  height: 10vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 25px;
  border-bottom: 5px solid #ffffff;
  padding-bottom: 10px;
}
.main-tweets-container {
  display: flex;
  flex-direction: column;
}
.tweets-main-block {
  background-color: #ffffff;
  /*margin-bottom: 5px;*/
  margin-top: 5px;
}
.tweets-block-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.tweets-user-rating {
  margin-left: auto;
  margin-right: 50px;
}
.tweets-block-profile-image {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 22px;
}
.tweets-user-profile-picture {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.tweets-main-body {
  margin-left: 75px;
}
.tweets-main-body-desc {
  margin-bottom: 15px;
}
.tweets-main-body-media {
  max-width: 100%;
  max-height: 500px;
  border-radius: 20px;
}

.tweets-block-user-info p {
  font-size: 20px;
}

.tweets-main-body p {
  font-size: 20px;
}
.tweets-like-and-comments {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 50px;
  margin-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
}
.tweets-like-and-number,
.tweets-comment-and-number {
  display: flex;
  align-items: center;
  gap: 9px;
  display: none;
}
.tweet-liked {
  filter: invert(12%) sepia(79%) saturate(6626%) hue-rotate(359deg)
    brightness(103%) contrast(109%);
}
.user-that-follow-you-heading {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
.user-that-follow-you-list {
  margin-top: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* align-items: center; */
  /* justify-content: center; */
}
#user-that-follow-you {
  display: none;
  padding: 20px 30px;
  height: 600px;
  /* width: 750px; */
  overflow: auto;
  color: white;
  background: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: none;
  border-radius: 20px;
  z-index: 5;
}
.user-that-you-follow-heading {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
.user-that-you-follow-list {
  margin-top: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* align-items: center; */
  /* justify-content: center; */
}
#user-that-you-follow {
  display: none;
  padding: 20px 30px;
  height: 600px;
  /* width: 750px; */
  overflow: auto;
  color: white;
  background: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: none;
  border-radius: 20px;
  z-index: 5;
}
.overlay-for-backround {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 1; /* Ensure overlay is behind popover */
}
