{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/adminBase.css' %}">
    <title>{% block title %}{% endblock title %}</title>
    {% block head %}{% endblock head %}
    <style>
        .left-container{
            background-color: #3b3f52;
            width: 12%;
            text-decoration: none;
        }
        .navbar-links{
            color: white;
            text-decoration: none;
        }
        .rightcontainer{
            margin-left: 200px;
        }
        .web-logo{
            color: white;
        }
    </style>
    {% block style %}{% endblock style %}
</head>

<body>
    <div class="main-container">
        <div class="left-container">
            <div class="web-logo">
                <!-- <a href="/"><img class="project-logo" src="{% static 'images/Screenshot 2024-01-18 110003.png' %}"
                        alt="SISS"></a> -->
                <p><b>Admin Dashboard</b></p>
            </div>
            <div class="navigation-bar">
                <nav class="nav-component">
                    <ul class="nav-ul">
                        <li class="nav-ul-li">
                            {% block nav-home %}
                            <a href="{% url 'delete_user' %}" style="text-decoration: none; color: white;">

                                <div><img class="nav-component-img" src="{% static 'images/home.svg' %}" alt=""><b>Users</b>
                                </div>
                            </a>

                        </div>
                            {% endblock %}
                        </li>
                        <li class="nav-ul-li">
                            <a href="">
                                <div><img class="nav-component-img" src="{% static 'images/message.svg' %}" alt="">
                                </div>
                            </a>
                            <div class="nav-image-text"><a class="navbar-links" href="{% url 'admin_approval' %}"><b>Pending Posts</b></a></div>
                        </li>
                        <li>
                            <a href="{% url 'approved_post' %}" style="text-decoration: none; color: white;"><b>Approved Post</b></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="rightcontainer">
                {% block rightcontainer %}{% endblock rightcontainer %}
            </div>
            </div>
        </div>
</body>

</html>