{% extends 'adminBase.html' %}
{% load static %}

{% block title %}
Home - SISS
{% endblock %}

{% block style %}
<style>
    table {
        width: 100vh;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #f2f2f2;
    }

    img {
        max-width: 100px;
        max-height: 100px;
        cursor: pointer;
    }
    td a{
        text-decoration: none;
        color: black;
    }

     .delete-button {
        background-color: red; 
        color: white; 
        padding: 10px 20px; 
        border: none; 
        border-radius: 5px; 
        cursor: pointer;
        font-size: 16px; 
    }

    .delete-button:hover {
        background-color: rgb(167, 13, 13); 
    } 
     .approve_button {
        background-color: blue;
        color: white; 
        padding: 10px 20px; 
        border: none; 
        border-radius: 5px; 
        cursor: pointer; 
        font-size: 16px; 
    }


    .approve_button:hover {
        background-color: rgb(10, 10, 170);
    }
</style>
{% endblock style %}
{% block nav-pending %}
                            <!-- <a href="{% url 'admin_approval' %}">
                                <div><img class="nav-component-img-active" src="{% static 'images/message.svg' %}" alt="">
                                </div>
                            </a> -->
                            <div class="nav-image-text"><a class="navbar-links-active" href="{% url 'admin_approval' %}"><b>Pending Post</b></a></div>
                        </li>
                            {% endblock %}
{% block rightcontainer %}
<div class="maincontainer">
<h1>Pending Posts for Approval</h1><br>
<div>
    <table>
        <thead>
            <tr>
                <th>SN</th>
                <th>User</th>
                <th>Caption</th>
                <th>Image</th>
                <th>Attachment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in pending_posts %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'post_details' post.id %}">{{ post.user|title }}</a>  </td> 
                <td><a href="{% url 'post_details' post.id %}">{{ post.caption|truncatewords_html:40 }} {# Truncate the text to 40 words #}</a>   </td> 
                <td>
                    {% if post.post_images %}
                    <ul class="post-images" style="display: flex; flex-direction: row;">
                        {% for image in post.post_images %}
                        <li><img src="{{ image.image.url }}" alt="Post Image" width="100px" style="border-radius: 10px;"></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    No images
                    {% endif %}
                </td>
                <td>
                    {% if post.post_attachments %}
                    <ul class="post-attachments">
                        {% for attachment in post.post_attachments %}
                        <a href="{{ attachment.attachment.url }}">{{ attachment.attachment.name }}</a><br>
                    {% endfor %}
                    </ul>
                    {% else %}
                    No attachments
                    {% endif %}
                </td>
                <td>
                    <form action="{% url 'admin_approval' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                        <button type="submit" name="action" value="approve" class="approve_button">Approve</button>
                        <button type="submit" name="action" value="reject" class="delete-button">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock rightcontainer %}
