{% extends 'adminBase.html' %}
{% load static %}

{% block style %}
{% endblock style %}
    
{% block rightcontainer %}
<h1>Delete Users</h1>
    
    <ul>
        {% for user in users %}
        <li>
            <strong>User ID:</strong> {{ user.id }}<br>
            <strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}<br>
            <strong>Email:</strong> {{ user.email }}<br>
            <strong>username:</strong> {{user.username}}<br>
            
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <button type="submit">Delete User</button>
            </form>
        </li>
        {% endfor %}
    </ul>

{% endblock rightcontainer %}