{% extends 'adminBase.html' %}
{% load static %}

{% block style %}
<style>
    table {
        width: 100vh;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #f2f2f2;
    }

     .delete-button {
        background-color: red;
        color: white; 
        padding: 10px 20px; 
        border: none; 
        border-radius: 5px; 
        cursor: pointer;
        font-size: 16px; 
    }

  
    .delete-button:hover {
        background-color: rgb(170, 10, 10); 
    }
</style>
{% endblock style %}
    {% block nav-user %}
    <!-- <a href="{% url 'delete_user' %}" >
        <div><img class="nav-component-img-active" src="{% static 'images/home.svg' %}" alt="">
        </div>
    </a> -->
    <div class="nav-image-text" ><a class="navbar-links-active" href="{% url 'delete_user' %}" ><b>Users</b></a>
    </div>
    {% endblock %}
{% block rightcontainer %}
<h1>Users</h1><br>
    
<table>
  <tr>
    <th>User ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Username</th>
    <th>Action</th>
  </tr>
  {% for user in users %}
  <tr >
    <td>{{ user.id }}</td>
    <td ><a href="{% url 'user_posts' user.id %}" style="text-decoration: none; color: black;">{{ user.first_name|title }} {{ user.last_name|title }}</a></td>
    <td>{{ user.email }}</td>
    <td>{{ user.username }}</td>
    <td>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <button type="submit" class="delete-button">Delete User</button>
        </form>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock rightcontainer %}
