{% extends 'home.html' %}
{% load static %}

{% block title %}
Home - SISS
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block profile %}
{{user_profile_image_url}}
{% endblock %}

{% block nav-home %}
<a href="{% url 'index' %}">
    <div><img class="nav-component-img-active" src="{% static 'images/home.svg' %}" alt=""></div>
</a>
<div class="nav-image-text"><a class="navbar-links-active" href="{% url 'index' %}">Home</a></div>
{% endblock %}

{% block middle-block %}
<div class="home-page-title" style="font-size: 25px;">Home</div>
{% for post in posts|dictsortreversed:"created_at" %}
    {% if post.approved %} <!-- Check if the post is approved -->
        <div class="main-tweets-container">
            <div class="tweets-main-block">
                <div class="tweets-block-user-info">
                    <div class="tweets-block-profile-image">
                        <img class="tweets-user-profile-picture" src="{{ post.user_profile_image_url }}" alt="">
                        <!-- <p>Profile Image URL: {{ post.user_profile.profileimg.url }}</p> -->
                    </div>
                    <div class="tweets-block-user-info">
                        <p><strong><a href="/profile/{{post.user}}"><small>{{post.user|title}}</small></a></strong></p>
                        <p style="color:#666"><small>@{{post.first_name}} {{post.last_name}}</small></p></a>
                        <h3>&#x2022;</h3>
                        </p>
                        <div style="display: flex; flex-direction: column;">
                            <p style="color:#666"><small>{{post.created_at}}</small></p>
                        </div>
                        <div class="rating" style="display: flex; flex-direction: row; margin-left: 50px;">
                            <p>{{ post.average_rating|floatformat:"1" }}</p>
                            <img  src="{% static 'images/icons8-star-48.png' %}" alt="" height="23px" width="23px">
                        </div>
                    </div>
                    <!-- <div class="tweets-user-rating">
                        asdasdsa
                    </div> -->
                </div>
                <div class="tweets-main-body">
                    {% if post.caption %}
                    <!-- Assuming post.caption contains the text you want to display -->
                    {% if post.caption %}
                    {% if post.caption|wordcount > 20 %}  {# Assuming you want to display only 20 words initially #}
                        <p class="tweets-main-body-desc">
                            {{ post.caption|truncatewords_html:10 }}  {# Truncate the text to 20 words #}
                            <a href="{% url 'comment' post.id %}" class="see-more-link" style="color: blue;">See more</a>
                        </p>
                        <!-- <p class="tweets-main-body-desc hidden">{{ post.caption }}</p>  {# Hidden paragraph to display full text on "See more" click #} -->
                    {% else %}
                        <p class="tweets-main-body-desc">{{ post.caption }}</p>
                    {% endif %}
                    {% endif %}

                    {% endif %}
                    {% if post.budget %}
					<p style="font-size: medium;"><b>Budget:</b> {{ post.budget }}</p><br>
				    {% endif %}
                    {% if post.image %}
                    {% if post.image.url|slice:'-3:' == 'jpg' or post.image.url|slice:'-4:' == 'jpeg' %}
                        <img src="{{ post.image.url }}" alt="" class="tweets-main-body-media">
                    {% elif post.image.url|slice:'-3:' == 'png' %}
                        <img src="{{ post.image.url }}" alt="" class="tweets-main-body-media">
                    {% else %}
                        <!-- Display other file types -->
                        <a href="{{ post.image.url }}" target="_blank">{{ post.image.name }}</a>
                    {% endif %}
                {% endif %}
                    <div class="tweets-like-and-comments" >
                        <a href="/like-post?post_id={{post.id}}" class="flex items-center space-x-2">
                            <div class="tweets-like-and-number">
                                <img class="tweet-not-liked" src="{% static 'images/heart.svg' %}" alt="">
                                <p class="tweet-liked-number">
                                    {% if post.no_of_likes == 0 %}
                                    <p>0</p>
                                    {% elif post.no_of_likes == 1 %}
                                    <p>{{post.no_of_likes}}</p>
                                    {% else %}
                                    <p>{{post.no_of_likes}}</p>
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                        <!-- Yo comment ko icon dekhauna lai  -->
                        <div class="comment_align">
                        <a href="{% url 'comment' post.id %}"  style="display: flex; flex-direction: row; gap: 10px;">
                            <img class="tweet-not-liked" src="{% static 'images/icons8-comment.svg' %}" alt="">
                            <p> {{ post.comment_count }}</p>
                            <img class="tweet-not-liked" src="{% static 'images/icons8-eye-48.png' %}" alt="" style="height: 22px; width: 22px; margin-left: 50px;">
                            <p>{{ post.view_count }}</p>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}


{% block right_block %}
<form action="/search" method="POST">
    {% csrf_token %}
    <div class="right-search-bar">
        <label for="search-box"></label>
        <input id="search-box" type="text" name="username" placeholder="Search for user">&nbsp;
        &nbsp;
        <div class="right-search-button"><img class="search-bar-image"
                src="{% static 'images/search.svg' %}" alt=""></div>
        <!-- <button class="right-search-bar-search-text">Search</button> -->
    </div>
</form>
<div class="right-posts">
    <div class="right-posts-heading">Posts of the month</div>

    {% for post in sorted_posts|slice:":5" %}
    <a href="{% url 'comment' post.id %}">
        <div class="right-top-post">
            <div class="top-post-main-container">
                <div class="right-top-post-user-info">
                    <p><strong>{{post.user|title}}</strong></p>
                    <p><h3>&#x2022;</h3></p>
                    <p>{{post.created_at}}</p>
                    <div class="rating" style="display: flex; flex-direction: row; margin-left: 50px;">
                        <p>{{ post.average_rating|floatformat:"1" }}</p>
                        <img  src="{% static 'images/icons8-star-48.png' %}" alt="" height="18px" width="18px">
                    </div> 
                </div>
                {% if post.caption %}
                 {% if post.caption|wordcount > 20 %}  {# Assuming you want to display only 20 words initially #}
                    <p class="tweets-main-body-desc">
                     {{ post.caption|truncatewords_html:10 }}  {# Truncate the text to 20 words #}
                     <a href="{% url 'comment' post.id %}" class="see-more-link" style="color: blue;">See more</a>
                     
                    </p>
            <!-- <p class="tweets-main-body-desc hidden">{{ post.caption }}</p>  {# Hidden paragraph to display full text on "See more" click #} -->
            {% else %}
                    <p class="tweets-main-body-desc">{{ post.caption }}</p>
            {% endif %}
            {% endif %}
            </div>
            {% if post.image %}
            <div><img class="top-post-image" src="{{ post.image.url }}" alt=""></div>
            {% endif %}
        </div>
    </a>
    {% endfor %}

    <!-- <div><a class="right-bot-show-more" href="">Show more</a></div> -->
</div>
{% endblock %}

