{% extends 'home.html' %}
{% load static %}

{% block title %}
Search
{% endblock %}

{% block style %}
<style>
    .search-result-item{
        display: flex;
        flex-direction: row;
        border: 0px solid #ccc;
        border-radius: 10px;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 10px;
        background-color: white;
        /* border-radius: 20px; */
    }
    .image{
        height: 100px;
        width: 100px;
        border-radius: 100px;
    }
    a{
        margin-top: 10px;
        margin-bottom: 10px;
        text-decoration: none;
        color:black;
    }
    .search-result-item-body{
        margin-left: 50px;
    }
    p{
        font-weight: light;
    }
    .col-sm-9{
        margin-top: 10%;
    }
</style>
{% endblock %}

{% block middle-block %}
    <!-- <h4 class="search-result-item-heading"><b>Result for : {{ users.user|title }}</b></h4> -->
    <h1>Search</h1>
    {% for users in username_profile_list %}
            <section class="search-result-item">
                <a class="image-link" href="/profile/{{ users.user }}" style="text-decoration: none;"><img class="image" src="{{ users.profileimg.url }}"></a>
                <a href="/profile/{{ users.user }}">
                    <div class="search-result-item-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <h4 class="search-result-item-heading"><b>{{ users.user|title }}</b></h4>
                                <!-- <p class="info">{{ users.location }}</p> -->
                                <p class="description">{{ users.bio }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </section>
            {% endfor %}
{% endblock %}

{% block right_block %}
<form action="/search" method="POST">
    {% csrf_token %}
    <div class="right-search-bar">
        <label for="search-box"></label>
        <input id="search-box" type="text" name="username" placeholder="Search for user">&nbsp;
        &nbsp;
        <div class="right-search-button"><img class="search-bar-image"
                src="{% static 'images/search.svg' %}" alt=""></div>
        <!-- <button class="right-search-bar-search-text">Search</button> -->
    </div>
</form>
<div class="right-posts">
    <div class="right-posts-heading">Posts of the month</div>

    {% for post in posts|slice:":5" %}
    <a href="{% url 'comment' post.id %}">
        <div class="right-top-post">
            <div class="top-post-main-container">
                <div class="right-top-post-user-info">
                    <p><strong>{{post.user|title}}</strong></p>
                    <p><h3>&#x2022;</h3></p>
                    <p>{{post.created_at}}</p>
                     <div class="rating" style="display: flex; flex-direction: row; margin-left: 50px;">
                        <p><small>{{ post.average_rating|floatformat:"1" }}</small></p>
                        <img  src="{% static 'images/icons8-star-48.png' %}" alt="" height="18px" width="18px">
                    </div> 
                </div>
                {% if post.caption %}
                 {% if post.caption|wordcount > 20 %}  {# Assuming you want to display only 20 words initially #}
                    <p class="tweets-main-body-desc">
                     {{ post.caption|truncatewords_html:10 }}  {# Truncate the text to 20 words #}
                     <a href="{% url 'comment' post.id %}" class="see-more-link" style="color: blue;">See more</a>
                     
                    </p>
            <!-- <p class="tweets-main-body-desc hidden">{{ post.caption }}</p>  {# Hidden paragraph to display full text on "See more" click #} -->
            {% else %}
                    <p class="tweets-main-body-desc">{{ post.caption }}</p>
            {% endif %}
            {% endif %}
            </div>
            {% if post.image %}
            <div><img class="top-post-image" src="{{ post.image.url }}" alt=""></div>
            {% endif %}
        </div>  
    </a>
    {% endfor %}

    <!-- <div><a class="right-bot-show-more" href="">Show more</a></div> -->
</div>
            
        </div>

{% endblock right_block %}

{% if posts %}
<div class="row mt-4">
    <div class="col-md-6 offset-md-3">
        <h2>Posts of Followed Users:</h2>
        {% for post in posts %}
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}