{% extends 'home.html' %}
{% load static %}

{% block title %}
Search
{% endblock %}

{% block style %}
<style>
    .search-result-item{
        display: flex;
        flex-direction: row;
        border: 0px solid #ccc;
        border-radius: 10px;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 10px;
        background-color: white;
        /* border-radius: 20px; */
    }
    .image{
        height: 100px;
        width: 100px;
        border-radius: 100px;
    }
    a{
        margin-top: 10px;
        margin-bottom: 10px;
        text-decoration: none;
        color:black;
    }
    .search-result-item-body{
        margin-left: 50px;
    }
    p{
        font-weight: light;
    }
    .col-sm-9{
        margin-top: 10%;
    }
</style>
{% endblock %}

{% block middle-block %}
    <!-- <h4 class="search-result-item-heading"><b>Result for : {{ users.user|title }}</b></h4> -->
    {% for users in username_profile_list %}
            <section class="search-result-item">
                <a class="image-link" href="/profile/{{ users.user }}" style="text-decoration: none;"><img class="image" src="{{ users.profileimg.url }}"></a>
                <a href="/profile/{{ users.user }}">
                    <div class="search-result-item-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <h4 class="search-result-item-heading"><b>{{ users.user|title }}</b></h4>
                                <!-- <p class="info">{{ users.location }}</p> -->
                                <p class="description">{{ users.bio }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </section>
            {% endfor %}
{% endblock %}

