{% extends 'base.html' %} {% load static %} {% block head %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/signuplight.css' %}"
/>
<title>Sign Up</title>
<style>
  body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .form-group label {
    margin-bottom: 5px;
  }

  .form-group input {
    width: 80vh;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid gray;
    /* Black border */
    background-color: #ffffff;
    /* White background */
    margin-bottom: 15px;
    /* Adjust margin for spacing between fields */
    border-radius: 5px;
    /* Border radius for all fields */
  }

  .submit-button {
    width: 88vh;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background: linear-gradient(to bottom right, #00f, #00f);
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }

  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 5%;
  }

  .text-center {
    text-align: center;
  }

  .text-base a {
    text-decoration: none;
    color: blue;
  }

  .container {
    width: 700px;
    height: 100vh;
    background-image: url("/static/images/339385-PASNLV-737.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
</style>
{% endblock head %} {% block body %}
<div class="container"></div>

<div class="centered-container">
  <form action="" method="POST" style="width: 70%">
    {% csrf_token %}
    <h1>SIGN UP</h1>

    <div class="form-group">
      <label for="first_name">Firstname</label>
      <input
        type="text"
        id="first_name"
        name="first_name"
        placeholder="Enter your firstname"
        class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
        style="border: 1px solid #d3d5d8 !important"
      />
    </div>

    <div class="form-group">
      <label for="last_name">Lastname</label>
      <input
        type="text"
        id="last_name"
        name="last_name"
        placeholder="Enter your lastname"
        class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
        style="border: 1px solid #d3d5d8 !important"
      />
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter your username"
        class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
        style="border: 1px solid #d3d5d8 !important"
      />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter your email"
        class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
        style="border: 1px solid #d3d5d8 !important"
      />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
        style="border: 1px solid #d3d5d8 !important"
      />
    </div>

    <div class="form-group">
      <label for="password2">Confirm Password</label>
      <input
        type="password"
        id="password2"
        name="password2"
        placeholder="Confirm your password"
        class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
        style="border: 1px solid #d3d5d8 !important"
      />
    </div>

    <button
      type="submit"
      class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full"
    >
      Sign Up
    </button>

    <div class="text-center mt-5 space-x-2">
      <p class="text-base">
        Do you have an account? <a href="/signin"> Login </a>
      </p>
    </div>
  </form>
</div>
{% endblock body %}
