{% extends 'base.html' %}
{% load static %}
{% block head %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'css/signuplight.css' %}">
<title>Sign Up</title>
<style>
    body{
        display: flex;
        flex-direction: row;
        padding: 0;
        margin:0;
        font-family: sans-serif;
        text-decoration: none;
    }
    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .form-group label {
        margin-bottom: 5px;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid gray;
        /* Black border */
        background-color: #ffffff;
        /* White background */
        margin-bottom: 15px;
        /* Adjust margin for spacing between fields */
        border-radius: 5px;
        /* Border radius for all fields */
    }

    .submit-button {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: none;
        background: linear-gradient(to bottom right, #ff69b4, #ff4500);
        color: white;
        cursor: pointer;
        border-radius: 5px;
        /* Border radius for the submit button */
    }

    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-left: 10%;
        /* Adjust based on your layout */
    }

    .text-center {
        text-align: center;
    }

    .text-base a {
        text-decoration: none;
        /* Remove text decoration */
        color: blue;
        /* Set the color to blue */
    }

    .container {
        width: 700px;
        /* Fixed width for the image */
        height: 100vh;
        /* 100% of the viewport height */
        background-image: url("/static/images/172174-OWTBV0-480.jpg");
        /* Set your image path */
        background-repeat: repeat-y;
        /* Repeat vertically if needed */
        background-size: cover;
        /* Fit the image within the container */
        background-position: center;
    }
</style>
{% endblock head %}

{% block body %}
<div class="container"><img src="{%}"></div>

<div class="centered-container">
    <!-- onsubmit="return validateForm();" -->
    <form action="" method="POST" style="margin-top: 40px;">
        {% csrf_token %}
        <h1>SIGN IN</h1>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p style="color:red" class="{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
        <div class=" form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username"
                class="bg-gray-200 shadow-none dark:bg-gray-800">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password"
                class="bg-gray-200 shadow-none dark:bg-gray-800">
        </div>

        <button type="submit"
            class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full">Login</button>

        <div class="text-center mt-5 space-x-2">
            <p class="text-base"> Not registered? <a href="/signup" class=""> Create an account </a></p>
        </div>
    </form>
</div>


{% endblock body %}
