from django.contrib import messages

@login_required(login_url="signin")
def delete_post(request, post_id):
    post = get_object_or_404(Post, id=post_id)
    
    # Check if the post belongs to the logged-in user
    if post.user == request.user.username:
        # Delete the post
        post.delete()
        messages.success(request, "Post deleted successfully.")
    else:
        messages.error(request, "You are not authorized to delete this post.")
    
    return redirect("profile", pk=request.user.username)

@login_required(login_url="signin")
def delete_comment(request, comment_id):
    comment = get_object_or_404(Comment, id=comment_id)
    
    # Check if the comment belongs to the logged-in user
    if comment.user == request.user:
        # Delete the comment
        comment.delete()
        messages.success(request, "Comment deleted successfully.")
    else:
        messages.error(request, "You are not authorized to delete this comment.")
    
    # Redirect back to the post detail page or any appropriate page
    return redirect(reverse("comment", kwargs={"post_id": comment.post.id}))

    @staff_member_required
def admin_approval(request):
    if request.method == "POST":
        post_id = request.POST.get("post_id")
        action = request.POST.get("action")  # 'approve' or 'reject'

        try:
            post = Post.objects.get(id=post_id)

            if action == "approve":
                post.approved = True
                post.save()
            elif action == "reject":
                post.delete()  # Or any other action you want for rejection

        except ObjectDoesNotExist:
            pass


    pending_posts = Post.objects.all()


    approved_posts = pending_posts.filter(approved=True)
    pending_posts = pending_posts.filter(approved=False)

    return render(
        request,
        "admin_approval.html",
        {"pending_posts": pending_posts, "approved_posts": approved_posts},
    )

from django.contrib.auth.models import User

@staff_member_required
def delete_user(request):
    if request.method == "POST":
        user_id = request.POST.get("user_id")
        
        try:
            user = User.objects.get(id=user_id)
            user.delete()
        except User.DoesNotExist:
            pass

    users = User.objects.all()
    
    return render(
        request,
        "delete_user_admin.html",
        {"users": users},
    )
